.container {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.carousel {
  position: relative;
}

.carouselItem {
  padding-left: 4px;
  padding-right: 4px;
}

.dotList {
  position: inherit;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .container {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}