.container {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 56px;
  color: #121212;
}

@media (min-width: 768px) {
  .container {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}