.content {
  position: relative;
  background-color: #edf2fa;
}

.width80 {
  width: calc(100% - 80px) !important;
}

.width270 {
  width: calc(100% - 270px) !important;
}

.hamburger {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}
